#home{
    height: 700px;
}
.body{
    background-color: #ffcb87;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
}
.btn{
    background-color: #411048
}
.btn:hover{
    background-color: #ec7263
}

.navbar{
    border-radius: 0px;
    background: linear-gradient(45deg, #ffcb87, #e5ab71);
    box-shadow:  5px -5px 10px #664c32,
                 -5px 5px 10px #ffffca;
}
.navbar-brand{
    transform: translateX(20px);
}


.nav-link:hover{
    text-decoration:underline;
    color:black
}
.landing-image{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 700px;
    padding: left 0px;
    padding: right 0px;
    transform: translateX(-20px);
}
.abt{
    transform: translateX()
}

.about-image{
    width: 10rem;
    position: relative;
    transform: translateY(5rem);
    border:10px solid #a75265;
    border-radius:  5px;
}

.about-section{
    width: 500px;
    margin:0 auto
}

.p{
    font-size: 1rem;
    width: 100%
}

.img1{
    width: 400px;
    background-color: transparent;
}

.crd-img-top{
    width: 300px
}

#crd_img{
    width:300px;
    justify-content: center;
}
.crd{
    border: 5px solid #a75265;
    width:fit-content;
    border-radius: 5px;
}
.C_img{
    width:10em;
}
.contact-me{
    height: 200px;

}
.li{
    justify-content:center;
    margin: 0 auto;
    
    background-color:#a75265;
    height: 100px;
    padding:2rem;

}
svg{
    height:20px;
    width: 20px;
    text-decoration:none;
    color:#febe7e;
}
@media (max-width:480px) {
    
}
@media (max-width:768px) {
    
}
@media (max-width:992px) {
    .abt{
        margin:0 auto
    }
    .about-image{
        transform:translateY(1rem);
        
    }
    
}
@media (max-width:1024px) {
    .landing-image{
        width: 400px;
    }
}
@media (max-width:1200px) {
    
}
